<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">MasterGym</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Subscriptions<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/listado-inscripciones">Current subscriptions<span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/precios">Prices<span class="sr-only"></span></a>
          </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Clients
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/agregar-clientes">Add client</a>
            <a class="dropdown-item" routerLink="/listado-clientes">See clients</a>
          </div>
        </li>

      </ul>
    </div>
    <button class="btn btn-danger" (click)="logout()">Logout</button>
  </nav>
